.o_chatter_position_normal .o_Form_renderer .o_chatter {
    margin-top: 2rem;
}

.o_chatter_position_sided .o_Form_renderer .o_chatter {
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
}